project:
  type: website
  output-dir: docs
  resources:
  - "googlecd08604f4edafe6e.html"
  - "CNAME"
  - "data/italia-domani/web/catalogo-opendata.html"
  preview:
    browser: false
    port: 6074

website:
  back-to-top-navigation: true
  title: "Dati aperti sul PNRR"
  site-url: https://pnrr.datibenecomune.it
  repo-url: https://github.com/ondata/italian-public-sector-pnrr-data-guide
  repo-actions: [edit]
  page-navigation: true
  favicon: images/favicon.png
  navbar:
    title: false
    left:
      - href: index.qmd
        text: Home
      - href: fonti/regis/mappa.qmd
        text: Mappa
      - href: notizie.qmd
        text: Aggiornamenti
      - href: about.qmd
        text: Informazioni
      - href: https://www.datibenecomune.it/
        text: "datiBeneComune"
        target: "_blank"
    tools:
      - icon: github
        href: https://github.com/ondata/italian-public-sector-pnrr-data-guide
        text: Questo progetto su GitHub
      - icon: rss
        href: https://pnrr.datibenecomune.it/notizie.xml
        text: Per rimanere aggiornati

  sidebar:
    style: "floating"
    collapse-level: 1
    search: false
    contents:
      - href: introduzione.qmd
        text: Introduzione
      - href: monitoraggio/index.qmd
        text: Monitoraggio
      - section: Fonti
        href: fonti/fonti.qmd
        contents:
          - section: ReGiS
            href: fonti/regis/index.qmd
            contents:
              - href: fonti/regis/mappa.qmd
                text: Mappa
          - section: OpenCUP
            href: fonti/opencup/index.qmd
            contents:
              - href: fonti/opencup/focus-pnrr.qmd
                text: Focus PNRR
          - section: ANAC
            href: fonti/anac/index.qmd
            contents:
              - href: fonti/anac/informazioni-cig.qmd
                text: Estrarre i dati ANAC
          - section: Servizio Contratti Pubblici
            href: fonti/scp/index.qmd
            contents:
              - href: fonti/scp/informazioni-scp.qmd
                text: Estrarre i dati SCP
          - href: fonti/openbdap/index.qmd
            text: OpenBDAP
          - href: fonti/rna/index.qmd
            text: Registro Aiuti di Stato
          - href: fonti/altre-pa/regioni.qmd
            text: Regioni italiane
      - href: guide/procedura-esempio.qmd
        text: Esempio estrazione dati
      - href: strumenti/foia.md
        text: FOIA
      - text: "---"
      - section: Rete monitoraggio PNRR
        href: rete-pnrr.md
        contents:
          - href: datibenecomune.md
            text: datiBeneComune
          - href: osservatorio.md
            text: Osservatorio PNRR
          - href: openpnrr.md
            text: Open PNRR
          - href: https://www.monithon.eu/it/
            text: Monithon
            target: "_blank"
          - href: https://www.thinktankperiod.org/
            text: think tank Period
            target: "_blank"
      - href: quinto-piano-governo-aperto.md
        text: OGP e altre iniziative istituzionali
      - text: "---"
      - href: https://vorrei.datibenecomune.it/
        text: I dati che vorrei
        target: "_blank"

  twitter-card:
    creator: "@ondatait"
    card-style: summary_large_image
    image: "/images/cover-og.png"
    description: "Open Data PNRR: per chi vuole capire come raccogliere informazioni sul Piano - correlarle tra loro e arricchirle - e poi monitorarlo."
  open-graph:
    locale: it_IT
    image: "/images/cover-og.png"
    description: "Open Data PNRR: per chi vuole capire come raccogliere informazioni sul Piano - correlarle tra loro e arricchirle - e poi monitorarlo."


  page-footer:
    border: true
    left: "a cura di [onData](https://www.ondata.it/)"
    right:
      - icon: github
        href: https://github.com/ondata/italian-public-sector-pnrr-data-guide
      - icon: rss
        href: notizie.xml
    center: "[Licenza](/about.qmd#licenza)"

format:
  html:
    theme: cosmo
    css: styles.scss
    toc: true
    code-copy: true
    code-overflow: wrap
    link-external-newwindow: true
    link-external-filter: '^.*pnrr\.datibenecomune\.it\/'
    lang: "it-IT"
    include-in-header: include/rss.html

execute:
  daemon: false
  freeze: auto
