```{=html}
<% for (const item of items) { %>
  <h2><%- item.categoria %></h2>
  <ul class="list">
    <% for (const elemento of item.elementi) { %>
        <li>
          <a href="<%- elemento.href %>"><%= elemento.titolo %></a>
        </li>
    <% } %>
  </ul>
<% } %>
```
